{% extends "frontendTemplate.html.twig" %}

{% block title %} SnowTricks | Accueil {% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<div class="containerBlockHeader">
  <div class="containerText">
    <h1>Bienvenue sur Snowtricks</h1>
    <h2>La référence du snowboard</h2>
  </div>
  <div class="containerScrollTo">
    <a href="#tricks"><i class="fas fa-arrow-down"></i></a>
  </div>
</div>

<div id="tricks" class="containerTricks">
  {% for trick in tricks %}
  <div class="cardTrick">
    <div class="containerImg">
      {% if trick.image|first.filename is defined %}
      <img src="assets/images/{{ trick.image|first.filename }}" alt="tricks images">
      {% endif %}
    </div>
    <div class="containerLink">
      <a class="title" class="showTrick"  href="/tricks/{{ trick.id }}/show" name="{{ trick.id }}">{{ trick.name }}</a>
      {% if app.user %}
      <div class="containerInput">
        <a href="tricks/{{trick.id}}/update"><i class="far fa-edit"></i></a>
        <a href="/tricks/{{trick.id}}/delete" class="delete"
          onclick="return confirm('Etes-vous sur de vouloir supprimer ce tric');"><i class="far fa-trash-alt"></i></a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
<div class="ContainerLoadMore">
  <button id="LoadMore">Charger d'avantage</button>
  <div class="containerScrollTo">
    <a href="#tricks"><i class="fas fa-arrow-up"></i></a>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('home') }}
{% endblock %}
