{% extends "frontendTemplate.html.twig" %}

{% block title %} SnowTricks | Inscription {% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('styleFrontend') }}
{% endblock %}

{% block body %}
<div class="containerPadding">
  <div class="containerForm">
    <h1>Inscription</h1>
  {{ form_start(form) }}
    <div class="error">
    {{ form_errors(form.email) }}
    {{ form_errors(form.password) }}
    </div>
    {{ form_errors(form) }}
    {{ form_widget(form.username) }}
    {{ form_widget(form.email) }}
    {{ form_widget(form.password) }}
    {{ form_widget(form.confirm_password) }}
      <input type="submit" value="Inscription">
  {{ form_end(form) }}
  </div>
</div>
{% endblock %}



{% block javascript %}
  <script src="{{ asset('app.js') }}"></script>
{% endblock %}