{% extends "frontendTemplate.html.twig" %}

{% block title %} SnowTricks | Modifier {{ trick.name }} {% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div class="containerPadding">
  <div class="containerTrick">
    <h1>Modifier un tricks</h1>
    <span class="lign"></span>
    {{ form_start(form) }}
    <div class="errors">
      {{ form_errors(form.name) }}
    </div>
    <div class="firstGroup">
      {{ form_widget(form.name) }}
      <div class="containerCategory">
        {{ form_widget(form.category) }}
        <a class="addCategories" href="/categories/new">Ajouter une catégorie</a>
      </div>
    </div>
    <div class="containerMedia">
      <div class="containerAddMedia">
        <div class="containerImages">
          <label for="trick_images">
            {{ form_widget(form.images) }}
            <p>Ajouter des images ...</p>
          </label>
          <div class="containerBdd">
            <p>Images déjà enregistré</p>
            {% for image in trick.image %}
            <a href="images/{{ image.id }}/delete" class="containerImg">
              <img src="/assets/images/{{image.filename}}" alt="" class="previewBefore">
              <i class="far fa-trash-alt"></i>
            </a>
            {% endfor %}
          </div>
          <div id="containerPreviewImages" class="containerPreview"></div>
        </div>
        <div class="containerAddVideos">
          <button type="button" class="add_item_link" data-collection-holder-class="videos">Ajouter une nouvelle vidéo</button>
          <ul class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
            {% for video in form.videos %}
              <li class="existingUrl"> 
                <div>
                  {{ form_widget(video.url, {'value' : trick.videos[loop.index0].url }) }}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

      </div>
      {{ form_widget(form.description) }} 
    </div>
      <div class="containerInput">
        <input type="submit" value="Valider">
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('add') }}
{% endblock %}
